* {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px; 
    background-color: gray;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: gray;
    flex-shrink: 2;
    flex-grow: 1;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
    align-items: center;
}

button {
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-style: groove;
    border-width: 4px;
    font-size: 150%;
}

section {
    display: flex;
    column-count: 2;
    flex-wrap: wrap;

}

.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 50%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.work {
    box-sizing: border-box;
    display: flex;
    flex-grow: 0;
    width: 50%;
    height: 75%;

}

footer {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: green;
    gap: 13%;
    width: 100%;
    margin-bottom: 0%;
}

ul {
    display: flex;
    justify-content:space-around;
    align-items: center;

}

li {
    margin-left: 10%;
    margin-right: 10%;
}

img {
    margin: 5 px;
}


@media screen and (max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        float: none;
        width: 100%;
    }

    .work {
        float: none;
        width: 100%;
    }
}